<!DOCTYPE html>
<html>
  <head>
    <title>RVTD-Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <div class="title col-10">
        <h1>Current Users</h1>
      </div>
      <div class="table col-10 text-center">
        <table border="1">
          <tr>
            <th width="50px">id:</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
          </tr>
          <% if( data.length ){                
            for(var i=0; i< data.length; i++) { %>
              <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].firstName%></td>
                <td><%=data[i].lastName%></td>
                <td><%=data[i].streetAddress%></td>
                <td><%=data[i].city%></td>
                <td><%=data[i].state%></td>
                <td><%=data[i].zip%></td>
              </tr>
            <% }
            }else{ %>
              <tr>
               <td>No Data</td>
              </tr>
          <% } %>
        </table> 
      </div>
      <br />
      <div class="user-signup col-10">
        <p>Enter your information below to sign up as a new user. After you 'Save' your information, verify you have been entered in the bottom row of the Current Users' table.</p>
        <form method="POST" action="/users" id="signup">
          <table cellpadding="11">
            <tr>
              <td class="label">First Name</td><td> <input type="text" name="firstName"></td>
            </tr>
  
             <tr>
              <td class="label">Last Name</td><td> <input type="text" name="lastName"></td>
            </tr>
              <tr>
              <td class="label">Street Address</td><td> <input type="text" name="streetAddress"></td>
            </tr>
              <tr>
              <td class="label">City</td><td> <input type="text" name="city"></td>
            </tr>
              <tr>
              <td class="label">State</td><td> <input type="text" name="state"></td>
            </tr>
            <tr>
              <td class="label">Zip</td><td> <input type="text" name="zip"></td>
            </tr>
            <tr>
              <td class="label"></td>
              <td><input class="btn btn-primary", type="submit" value="Save", onClick="saveUser()"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    </div>
  </body>
</html>
